@page
@model SE_Project.Pages.SocietyTeamModel
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Management System</title>
    <link rel="stylesheet" href="/css/SocietyTeam.css">
</head>
<body>
    <div class="container">

        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="">
                    <h1>SMS</h1>
                </div>
                <ul>
                    <li>
                        <a asp-page="/SocietyTeam" asp-route-societyName="@TempData["SocietyName"]" asp-route-name="@TempData["Name"]">
                            <span class="nav-item">Home</span>
                        </a>
                    </li>


                    <li>
                        <a href="/AboutUS">
                            <span class="nav-item">About US</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="nav-item">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
 

        <section class="main">
            <div class="main-top">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Society Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="main-body">

                <h2>Announcements</h2>
                <br />
                @if (Model.Announcements != null && Model.Announcements.Any())
                {
                    
                    <br />
                    <table class="announcementTable">

                        <tbody>

                            <tr>
                                <td>
                                    <center> Society Name </center>
                                </td>
                                <td>
                                    <center> Announcement </center>
                                </td>
                            </tr>

                            @foreach (var announcement in Model.Announcements)
                            {
                                <tr>
                                    <td>
                                        <center> @announcement.societyName </center>
                                    </td>
                                    <td>
                                        <center> @announcement.Announcement </center>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                <h2>Tasks</h2>
                @if (Model.Task != null && Model.Task.Any())
                {
                    
                    <br />
                    <table class="announcementTable">

                        <tbody>

                            <tr>
                                <td>
                                    <center> Task Description </center>
                                </td>
                                <td style="width: 200px;">
                                    <!-- Adjusted width here -->
                                    <center> Deadline </center>
                                </td>

                            </tr>

                            @foreach (var Task in Model.Task)
                            {
                                <tr>
                                    <td>
                                        <center> @Task.Description </center>
                                    </td>
                                    <td style="width: 200px;">
                                        <!-- Adjusted width here -->
                                        <center> @Task.Deadline </center>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                }


                <br />
                <h2>Meetings</h2>
                <h2>Meetings</h2>
                <br />
                @if (Model.Meeting != null && Model.Meeting.Any())
                {

                    <br />
                    <table class="announcementTable">

                        <tbody>

                            <tr>
                                <td>
                                    <center> Meeting Topic </center>
                                </td>
                                <td>
                                    <!-- Adjusted width here -->
                                    <center> location </center>
                                </td>
                                <td>
                                    <center> Date </center>
                                </td>
                                <td>
                                    <center> start time </center>
                                </td>
                                <td>
                                    <center> end time </center>
                                </td>

                            </tr>

                            @foreach (var meeting in Model.Meeting)
                            {
                                <tr>
                                    <td>
                                        <center> @meeting.MeetingTopic </center>
                                    </td>
                                    <td>
                                        <center> @meeting.location </center>
                                    </td>
                                    <td>
                                        <center> @meeting.startdate </center>
                                    </td>
                                    <td>
                                        <center> @meeting.starttime </center>
                                    </td>
                                    <td>
                                        <center> @meeting.endtime </center>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>





        </section>
    </div>

</body>
</html>